html,
body {
  overscroll-behavior: none;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

*,
*::before,
*::after {
  -webkit-user-select: none;
  user-select: none;
}

button:not(:disabled) {
  cursor: pointer;
}